ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dddddd;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;

}

li {
  float: right;
  
}

li a {

  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  background-color: #f07025;
  text-decoration: none;
}

li a:hover {
  background-color: #ff8527;
}

li a.active {
  background-color: #04AA6D;
}
