body {
    background-color: rgb(255, 255, 240);
    margin-left: 20%;
}

textarea {
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-shadow-color: silver;
    scrollbar-arrow-color: black;
    scrollbar-face-color: gray;
}

.imgHelp {
    cursor: help;
}

.EmailEditor {
    background-color: #FFFFDD;
}

#main {
    width: 400px;
    background-color: #DDFFEE;
    padding-left: 10px;
    padding-right: 10px;
}

#help {
    position: absolute;
    width: 500px;
    height: 420px;
    top: 10px;
    background-color: #cfc;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    border: 2px solid #E4E7E7;
    color: #303030;
}

.Close {
    text-align: right;
    color: blue;
    cursor: pointer;
}

ul {
    list-style-image: url('bullet.jpg');
    list-style-type: square;
    list-style-position: inside;
}