:root {
  --background-color: ;
  --box-background: #fff;
  --text-color: #333;
  --label-color: #666;
  --input-background: #e8e8e8;
  --input-focus-background: #d9d9d9;
  --accent-color: #46c640;
  --accent-hover-color: #40b93b;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --footer-color: #666;
}
.dark-theme{
  --background-color: hsl(0, 0%, 15%);
  --box-background: #323232;
  --text-color: #fff;
  --label-color: #ccc;
  --input-background: #2c2c2c;
  --input-focus-background: #333;
  --accent-color: #46c640;
  --accent-hover-color: #40b93b;
  --shadow-color: rgba(0, 0, 0, 0.6);
  --footer-color: #aaa;
}





/* Responsive login form */

@media only screen and (max-width: 300) {
  #login-form {
    width: 90%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    
  }
}

/* Format login box */

#login-form, #register-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 #888888;
}

/* #login-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.form-floating.mb-3.mt-3 {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}


#btnLogin, #btnRegister { 
  /* background-color: #37a931;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px; */
  float: right;
}

#btnLogin,#btnRegister:hover {
  background-color: #2e8b24;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.nav-item {
  margin: 0 10px;
  background-color: var(--accent-color);

}

.nav-item a.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: bold;

}

#main-content {
  background-color: red;
}


.nav-item:hover {
  background-color: var(--accent-hover-color);
  transition: background-color 0.3s ease;
}
